.table-container {
    display: flex;
    flex-direction: column;
    background-color: #272b30;
    min-height: 100vh;
    padding: 25px;
    width: calc(100% - 50px);
}
.table-container-title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #ffe300;
    font-size: 26px;
    font-weight: 600;
}
.people-table {
    background-color: #f5f5f5;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
    width: calc(100% - 100px);
}
table {
    width: 100%;
}
table > thead > tr > th {
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 10px 0;
    border-bottom: 1px solid;
}
table > tbody > tr {
    height: 60px;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
.pagination > button {
    margin: 0 10px 0 0;
    height: 30px;
    cursor: pointer;
    border: 1px solid;
}
.pagination > button:disabled {
    cursor: not-allowed;
}
